@media (min-width: 992px) {
	.hero {
		.navbar {
			display: flex;
			justify-content: start;
			padding: 2em 3em;
			height: 15vh;

			.logo {
				width: 35%;
			}
			.hamburger {
				display: none;
			}
			.nav {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				width: 65%;

				&-mobile {
					display: none;
				}

				&-desktop {
					display: block;
					z-index: 10;
					display: flex;
					justify-content: end;

					a {
						margin: 0.3em;
						padding: 0.5em;
						font-size: 3rem;
						text-decoration: none;
						text-transform: capitalize;
						color: $main;

						&:hover {
							color: $light;
						}
					}
				}
			}
		}
		.hero__img {
			.hero__info {
				padding: 6em;

				&-title {
					h1.hero-title {
						font-size: 6rem;
					}
				}

				&-text {
					padding: 0 3em;
					h2.hero-text {
						font-size: 3rem;
						line-height: 50px;
					}
				}

				&-button {
					.header-button {
						transition: background-color 0.3s linear;
					}

					.header-button:hover {
						background-color: $light;
						border: 3px solid $light;
					}
				}
			}
		}
	}
	.team {
		margin: 3em 0;

		&__boxes {
			margin: 3em 0;

			&-box {
				margin: 0 1.5em;
				width: 30%;
				transition: transform 0.3s;

				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}

	.tours {
		&__offers {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			width: 100%;

			&-box {
				position: relative;
				margin: 5em 0;
				width: 35%;

				h3.tours {
					font-size: 3.6rem;
					line-height: 40px;
				}

				&-back {
					position: absolute;
					&-list {
						position: absolute;
						top: 25%;
						font-size: 1.6rem;
					}
				}
			}
		}
	}

	.gallery {
		&__picture {
			img {
				margin: 0 4em;
				width: 100%;
				height: 400px;
				background-position: center;
				background-size: cover;
			}
		}
	}

	.contact {
		position: relative;
		background-color: $dark;

		&__info {
			margin: 0 4em;
			font-size: 2.5rem;
			color: $main;

			&-form {
				&-box {
					margin: 1em 0;

					input {
						height: 30px;
					}

					textarea {
						max-width: 100%;
						width: 100%;
						min-width: 100%;
					}

					input,
					textarea {
						font-size: 2rem;
					}
				}

				&-btn {
					margin-bottom: 1em;
					width: 120px;
					height: 40px;
					font-size: 2rem;
					background: none;
					color: $light;
					border: 1px solid $light;
					cursor: pointer;
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	.hero {
		.navbar {
			padding: 2em 6em;

			.logo {
				&__title {
					font-size: 3.5rem;
				}
			}
			.nav {
				&-desktop {
					a {
						padding: 0 1em;
						// font-size: 3.5rem;
					}
				}
			}
		}

		.hero__img {
			.hero__info {
				padding: 3em 15em;

				&-title {
					h1.hero-title {
						font-size: 7rem;
					}
				}

				&-text {
					padding: 3em 7em;
					h2.hero-text {
						font-size: 4rem;
					}
				}
			}
		}
	}

	.tours {
		&__offers {
			display: flex;
			justify-content: space-between;
			flex-wrap: nowrap;
			width: 100%;

			&-box {
				position: relative;
				margin: 5em 0;
				width: 30%;

				h3.tours {
					font-size: 3.6rem;
					line-height: 40px;
				}

				&-back {
					&-list {
						display: flex;
						flex-direction: column;
						justify-content: center;
						margin: 0;
						font-size: 1.7rem;
					}
				}
			}
		}
	}

	.gallery {
		&__picture {
			img {
				height: 500px;
			}
		}
	}

	.contact {
		&__info {
			margin-top: 2em;
			&-form {
				&-box {
					display: flex;
					justify-content: center;
					margin: 1em;

					input,
					textarea {
						margin: 0 1em;
					}
				}

				&-btn {
					cursor: pointer;
				}
			}
		}
	}
}
